{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=DONT_SHARE_MY_TMDB_SECRET_TOKEN&lat=39.7289449&limit=20&lon=-104.940809&radius=10000",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Tracking-Id": [
            "da49a5b2-76de-4f73-ac3b-a7e4b99889f8"
          ],
          "X-Apigee.target-Latency": [
            "15"
          ],
          "X-Tomtom-Processed-By": [
            "westus2"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"summary\":{\"queryType\":\"NEARBY\",\"queryTime\":11,\"numResults\":20,\"offset\":0,\"totalResults\":20,\"fuzzyLevel\":1,\"geoBias\":{\"lat\":39.7289449,\"lon\":-104.940809},\"geobiasCountry\":\"US\"},\"results\":[{\"type\":\"POI\",\"id\":\"WRfWd3Yw-NKoRmYhtSkF5w\",\"score\":99.9858627319,\"dist\":14.140255,\"info\":\"search:ta:840089002545788-US\",\"poi\":{\"name\":\"Lynk Systems\",\"categorySet\":[{\"id\":7397}],\"categories\":[\"cash dispenser\"],\"classifications\":[{\"code\":\"CASH_DISPENSER\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"cash dispenser\"}]}]},\"address\":{\"streetNumber\":\"785\",\"streetName\":\"North Colorado Boulevard\",\"municipalitySubdivision\":\"Congress Park\",\"municipality\":\"Denver\",\"countrySecondarySubdivision\":\"Denver\",\"countrySubdivision\":\"CO\",\"countrySubdivisionName\":\"Colorado\",\"postalCode\":\"80206\",\"extendedPostalCode\":\"80206-4035\",\"countryCode\":\"US\",\"country\":\"United States\",\"countryCodeISO3\":\"USA\",\"freeformAddress\":\"785 North Colorado Boulevard, Denver, CO 80206\",\"localName\":\"Denver\"},\"position\":{\"lat\":39.72884,\"lon\":-104.940903},\"viewport\":{\"topLeftPoint\":{\"lat\":39.72974,\"lon\":-104.94207},\"btmRightPoint\":{\"lat\":39.72794,\"lon\":-104.93973}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":39.72885,\"lon\":-104.94079}}]},{\"type\":\"POI\",\"id\":\"dfOWCl_NYnFxjJRgvwP6ZA\",\"score\":99.9658126831,\"dist\":34.184387,\"info\":\"search:ta:840089002945784-US\",\"poi\":{\"name\":\"Columbus Data Services\",\"categorySet\":[{\"id\":7397}],\"categories\":[\"cash dispenser\"],\"classifications\":[{\"code\":\"CASH_DISPENSER\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"cash dispenser\"}]}]},\"address\":{\"streetNumber\":\"4005\",\"streetName\":\"[...]
